@import '.././../styles/variables.scss';

.trade-item__wrapper {
  border-bottom: 1px solid #D6DBE2;
  padding: 20px 20px 20px 60px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 979px) {
    padding: 20px 20px 20px 40px;
  }
  @media only screen and (max-width: 979px) {
    padding: 20px 40px 20px 60px;
  }

  &:hover {
    cursor: pointer;
    background-color: $activeTradeBgColor;
  }

  &.is-active {
    background-color: $activeTradeBgColor;
    position: relative;
    border-top: 1px solid $borderGrayColor;
    border-bottom: 1px solid $borderGrayColor;
    margin: -1px -6px 0px 0px;
    left: 0;
    padding-left: 60px;

    &:after {
      content: '';
      position: absolute;
      background-color: $activeTradeBgColor;
      height: 100%;
      width: 30px;
      right: -10px;
      z-index: 13;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 1px solid #D6DBE2;
      border-bottom: 1px solid #D6DBE2;
      border-right: 1px solid #D6DBE2;
    }

    .trade-item__action {
      color: #5c7394;

      span {
        font-weight: 600;
      }
    }

    .trade-item__payment {
      font-weight: 400;
    }

    .trade-item__value {
      color: black;
    }
  }

  a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: transparent;
    }

    .trade-item__action {
      position: relative;
      color: $grayTextColor;
      font-size: 0.9rem;
      @media only screen and (min-width: 768px) and (max-width: 940px) {
        font-size: 0.8rem;
      }

      span {
        font-weight: 600;
      }

      &:before {
        content: '';
        border-radius: 0.6rem;
        height: 0.6rem;
        width: 0.6rem;
        margin-right: 0.5rem;
        background-color: #55D3C3;
        position: absolute;
        left: -30px;
        top: 6px;
      }
      &.is-selected {
        &:before {
          background-color: #e2e2e2;
        }
      }
    }

    .trade-item__payment {
      font-weight: 600;
      font-size: 1.0rem;
      color: black;
      @media only screen and (min-width: 768px) and (max-width: 940px) {
        font-size: 0.9rem;
      }
    }

    .trade-item__value {
      color: $grayTextColor;
      font-size: 0.8rem;
    }

    .trade-item__buyer_wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 61px;

      .trade-item__buyer {
        width: 40px;
        height: 40px;
        align-items: center;
        background-color: #C6D2E5;
        border-radius: 50%;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 8px;

        img {
          object-fit: cover;
          width: 100%;
          position: relative;
          height: 100%;
        }
      }

      .trade-item__status {
        font-size: 0.8rem;
        font-weight: 600;
        color: $textGreen;
        @media only screen and (min-width: 768px) and (max-width: 940px) {
          font-size: 0.6rem;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &.is-active {
      background-color: $activeTradeBgColor;
    }
  }
}
