.trade-rate__title {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  @media only screen and (min-width: 768px) and (max-width: 940px) {
    font-size: 0.6rem;
  }
}

.trade-rate__value {
  font-weight: 600;
  color: #a7a7a7;
  @media only screen and (min-width: 768px) and (max-width: 940px) {
    font-size: 0.6rem;
  }
}
