button {
  text-transform: capitalize;

  &.large-btn {
    background-color: #52D48C;
    border-radius: 28px;
    border: 1px solid #47b679;
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: 9px 25px;
    text-decoration: none;
    outline: none;
    box-shadow: 2px 2px 5px 0 rgb(224, 224, 224);
    letter-spacing: 1px;
    @media only screen and (max-width: 850px) {
      font-size: 0.7rem;
    }

    @media only screen and (max-width: 785px) {
      font-size: 0.6rem;
    }

    @media only screen and (max-width: 767px) {
      font-size: 1rem;
    }


    &:hover {
      background-color: #4cd470;
    }
  }
}
