@import '.././../../styles/variables.scss';

.trade-amount__title {
  font-weight: $fontWeightBold;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  font-size: $fontSmallSize;
  @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-md-max) {
    font-size: $fontSmallMdSize;
  }
}

.trade-amount__value {
  font-weight: $fontWeightBold;
  color: $grayTextColor;
  @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-md-max) {
    font-size: $fontSmallMdSize;
  }
}
