@import '.././../../styles/variables.scss';
@import '.././../../styles/mixins.scss';

.chatHeader__wrapper {
  height: 100px;
  margin: -1rem 0 1rem 0;
  border-bottom: 1px solid $borderGrayColor;
  @include flexRowCenter();
  justify-content: center;
  @media only screen and (max-width: $screen-md-max) {
    margin-top: 0;
  }

  .chatHeader__header {
    text-align: center;
    line-height: 1.5;

    .chatHeader__title {
      color: #646A77;
      font-weight: $fontWeightBold;
      font-size: 1.2rem;
    }

    .chatHeader__value {
      color: $grayTextColor;
      font-size: 0.9rem;

      span {
        color: black;

        &:first-child {
          color: $textGreen;
          font-weight: $fontWeightBold;
        }

        &:last-child {
          color: red;
          font-weight: $fontWeightBold;
        }
      }
    }
  }

  .chatHeader__action {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1rem;

    button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #B4BEC6;
    }

    img {
      width: 1rem;
    }
  }
}
