@import '.././../../styles/variables.scss';

header {
  .top-navigation {
    display: flex;
    justify-content: space-between;
    flex: max-content;
    height: 50px;
    background-color: $activeLinkColor;
    padding: 0 2rem;
    align-items: center;

    .top-navigation__logo {
      @media only screen and (max-width: $screen-md-max) {
        width: 100%;
        text-align: center;
      }
    }

    nav {
      list-style: none;

      a {
        color: white;
        text-decoration: none;
        font-weight: $fontWeightLight;
        margin: 0 0.6rem;
        font-size: 0.9rem;
        display: inline-flex;
        line-height: 3rem;

        &.is-active {
          text-decoration: underline;
          font-weight: $fontWeightNormal;
        }
      }
    }

  }

  .hamburger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    .hamburger-menu-button__line {
      width: 2rem;
      height: 2px;
      background: white;
    }
  }

}

.sidebar-navigation {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  width: 100vw;
  height: 100vh;
  z-index: $zIndexTop;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      color: $activeLinkColor;
      text-decoration: none;
      line-height: 2rem;

      &.is-active {
        font-weight: $fontWeightBold;
      }
    }
  }
}


.sidebar-navigation {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: $zIndexTop;

  ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      color: $activeLinkColor;
      text-decoration: none;
      line-height: 4rem;
      font-size: 2rem;
      font-weight: $fontWeightExtraLight;

      &.is-active {
        font-weight: $fontWeightBold;
      }
    }
  }

  &.is-open {
    transition: all 0.3s;
    transform: translate3d(100vw, 0, 0) translateX(-100%);
  }

  .sidebar-navigation__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    text-indent: -99999px;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .close:hover {
    opacity: 1;
  }
}

