@import '.././../../styles/variables.scss';
header {
  .top-navigation {
    display: flex;
    justify-content: space-between;
    flex: max-content;
    height: 50px;
    background-color: $activeLinkColor;
    padding: 0 30px;
    align-items: center;

    .top-navigation__logo {
      @media only screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }

    nav {
      list-style: none;

      a {
        color: white;
        text-decoration: none;
        font-weight: 300;
        margin: 0 0.6rem;
        font-size: 0.9rem;
        display: inline-flex;
        line-height: 50px;

        &.is-active {
          text-decoration: underline;
          font-weight: 400;
        }
      }
    }

  }

}

.sidebar-navigation {
  background: white;
  position: fixed;
  top:0;
  left:0;
  transform: translate3d(-100vw, 0, 0);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      color: $activeLinkColor;
      text-decoration: none;
      line-height: 2rem;
      &.is-active {
        font-weight: 600;
      }
    }
  }
}
