@import '.././../styles/variables.scss';

.trade-information {
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  font-size: $fontSmallSize;

  time {
    text-transform: lowercase;
  }

  span {
    color: #575D6C;

    &.trade-information__seller {
      font-weight: $fontWeightBold;
    }
  }

  .trade-information__session {
    color: $grayTextColor;
    text-align: center;
    font-size: $fontSmallSize;
  }
}
