.trade-information {
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  font-size: 0.9rem;
  time {
    text-transform: lowercase;
  }

  span {
    color: #575D6C;

    &.trade-information__seller {
      font-weight: 600;
    }
  }

  .trade-information__session {
    color: #a7a7a7;
    text-align: center;
    font-size: 0.9rem;
  }
}
