.trade-status__title {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.trade-status__value {
  font-weight: 600;
  text-transform: uppercase;
  color: #52D48C;
  font-size: 1.1rem;
}
