.trade-status__title {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  @media only screen and (min-width: 768px) and (max-width: 940px) {
    font-size: 0.6rem;
  }
}

.trade-status__value {
  font-weight: 600;
  text-transform: uppercase;
  color: #52D48C;
  @media only screen and (min-width: 768px) and (max-width: 940px) {
    font-size: 0.8rem;
  }
}
